<div id="<%= dom_id profile %>" class="border rounded p-5 my-5">
  <h6 class="text-muted">
    Description
  </h6>
  <p class="text-success">
    <%= profile.description %>
  </p>
  
  <h6 class="text-muted">
    User
  </h6>
  <p class="text-success">
    <%= profile.user_id %>
  </p>
</div>
