<h1 class="text-muted text-center">
  Editing profile
</h1>

<%= render "form", profile: @profile %>

<br>
<div class="btn-group">
  <%= link_to "Show this profile", @profile, class: "btn btn-sm btn-outline-primary" %>
  <%= link_to "Back to profiles", profiles_path, class: "btn btn-sm btn-outline-secondary" %>
</div>
