<h1 class="text-muted text-center">
  New profile
</h1>

<%= render "form", profile: @profile %>

<br>
<div>
  <%= link_to "Back to profiles", profiles_path, class: "btn btn-sm btn-outline-secondary" %>
</div>
