<p style="color: green">
  <%= notice %>
</p>

<h1 class="text-muted text-center">
  Users
</h1>

<% @users.each do |user| %>
  <div class="card shadow p-5 my-5">
    <%= render user %>
    <p><%= link_to "Show this user", user, class: "btn btn-sm btn-outline-primary mt-3" %></p>
  </div>
<% end %>

<%= link_to "New user", new_user_path, class: "btn btn-sm btn-outline-primary" %>
<div id='mydiv' style='display:none'>
  TEST
</div>
<script type='text/javascript'>
  $('#mydiv').show();
</script>
