<div id="<%= dom_id book %>" class="card shadow p-5 my-5">
  <h6 class="text-muted">
    Title
  </h6>
  <p class="text-success">
    <%= book.title %>
  </p>

  <h6 class="text-muted">
    User
  </h6>
  <p class="text-success">
    <%= book.user_id %>
  </p>
</div>
